* {
	box-sizing: border-box;
}
body {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: var(--text-color);
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
/* ================== header ================ */
.header {
	position: relative;
	z-index: 100;
	background-color: #e8ebf1;
	padding: 38px 0 38px 0;
	box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.07);
}
.header__wrapper,
.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	font-size: 50px;
	color: var(--blue-color);
}
.header__logo span {
	color: var(--title-color);
	font-weight: 900;
}
.menu__item + li {
	margin-left: 50px;
}
.menu__link {
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-weight: 700;
	color: var(--title-color);
}
.menu__link:hover {
	color: var(--blue-color);
}
.drop-down > a {
	position: relative;
	padding-left: 11px;
	padding-right: 26px;
	border: 5px solid transparent;
}
.drop-down > a::after {
	content: "";
	position: absolute;
	top: 6px;
	right: 14px;
	width: 8px;
	height: 1.5px;
	background-color: #000;
	transform: rotate(-45deg);
	transition: all 0.5s ease;
}
.drop-down > a:hover::after {
	transform: rotate(45deg);
}
.drop-down > a::before {
	content: "";
	position: absolute;
	top: 6px;
	right: 9px;
	width: 8px;
	height: 1.5px;
	background-color: #000;
	transform: rotate(45deg);
	transition: all 0.5s ease;
}
.drop-down > a:hover::before {
	transform: rotate(-45deg);
}
.menu__item.drop-down {
	position: relative;
	margin-left: 30px;
}
.drop-down:hover {
	background-color: #fff;
	border-top: 5px solid var(--blue-color);
	padding-top: 9px;
	padding-bottom: 13px;
}
.drop-down__list {
	position: absolute;
	top: 37px;
	padding: 6px;
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: all 0.5s ease;
	box-shadow: 0px 5px 0 0 var(--blue-color);
	border: solid 1px #e8ebf1;
	border-top: none;
	border-bottom: 5px solid var(--blue-color);
}
.drop-down:hover .drop-down__list {
	transform: scaleY(1);
	width: 200px;
	min-height: 200px;
	background-color: #fff;
}
.drop-down__item + li {
	border-top: 1px solid #e7e7e7;
}
.drop-down__item {
	padding: 12px 0;
}
.drop-down__link {
	font-family: Arial;
	font-size: 13px;
	font-weight: 700;
	color: var(--title-color);
}
.drop-down__link:hover {
	color: var(--blue-color);
}
/* ================== /header ================ */
/* ================== slider ================ */
.slider {
	background-color: var(--blue-color-lite);
	min-height: 500px;
	padding: 20px 0 10px;
}
.slider__item {
	background: url("../images/slider-bg.jpg") top center / cover no-repeat;
	height: 440px;
}
.slider__item-title {
	font-size: 50px;
	line-height: 55px;
	font-weight: 700;
	color: var(--white);
	width: 295px;
	min-height: 219px;
	margin-left: 60px;
	padding-top: 102px;
}
.slick-dots li button {
	margin-top: 8px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: rgba(98, 98, 98, 0.5);
}
.slick-dots li button::before {
	display: none;
}
.slick-active li {
	margin: 0 9px;
	width: auto;
	height: auto;
}
.slick-dots li.slick-active button {
	background-color: var(--white);
}
/* ================== /slider ================ */
/* ================== advantages ================ */
.advantages {
	min-height: 301px;
	background-color: var(--gray-bg);
	padding: 60px 0 52px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	box-shadow: 0px -2px 5px -1px rgba(0, 0, 0, 0.07);
}
.advantages__wrapper {
	display: flex;
	align-items: start;
	justify-content: space-between;
}
.advantages__item {
	width: 216px;
	min-height: 190px;
}
.item__head {
	display: flex;
	align-items: center;
}
.item__round {
	width: 40px;
	height: 40px;
	background-color: var(--blue-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item__header {
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--title-color);
	margin-left: 15px;
}
.item__descr,
.item__link {
	margin-top: 19px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	color: var(--text-color);
}
.item__link {
	display: inline-block;
	margin-top: 20px;
	padding-left: 15px;
	color: var(--blue-color);
	position: relative;
}
.item__link::before {
	content: "";
	background-image: url("../icons/arrow_min.svg");
	background-repeat: no-repeat;
	position: absolute;
	top: 5px;
	left: 0;
	width: 10px;
	height: 10px;
}
/* ================== /advantages ================ */
/* ================== works ================ */
.works {
	min-height: 760px;
	padding: 20px 0 40px;
	background-color: var(--white);
}
.works__title {
	position: relative;
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--title-color);
	margin-bottom: 18px;
	padding: 0px 0px 0px 37px;
}
.works__title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 24px;
	width: 14px;
	background: url("../icons/works-shape.svg") no-repeat;
}
.works__inner {
	padding: 20px 0 40px;
	border-top: 1px solid var(--border);
	border-bottom: 1px solid var(--border);
}
.works__item {
	text-align: center;
}
.works__box {
	position: relative;
	display: inline-block;
}
.works__box:hover .works__link {
	height: 80px;
}
.works__link {
	position: absolute;
	bottom: 0;
	height: 0;
	width: 100%;
	overflow: hidden;
	background-color: var(--blue-color);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s ease;
}
.works__link a {
	margin: 0 15px;
}
.slick-list {
	margin: 0 -15px;
}
.slick-prev {
	right: 30px;
	top: -25px;
	left: auto;
}
.slick-next {
	right: 0px;
	top: -25px;
}
.slick-arrow {
	width: 20px;
	height: 20px;
	background-color: var(--blue-color);
	border-radius: 50%;
}
.slick-arrow::before {
	display: none;
}
.slick-arrow:hover,
.slick-arrow:focus {
	background-color: var(--blue-color);
}
/* ================== /works ================ */
/* ================== client ================ */
.client {
	margin-top: 20px;
}
.client__inner {
	display: flex;
	align-items: start;
}
.client__item {
	width: 50%;
}
.client__title-testimonials,
.client__title-clients {
	position: relative;
	font-family: Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: va(--title-color);
	padding: 0px 0px 0px 40px;
}
.client__title-testimonials::before,
.client__title-clients::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 23px;
	width: 27px;
	background: url("../icons/comments.svg") no-repeat;
}
.client__title-clients::before {
	background: url("../icons/clients.svg") no-repeat;
}
.client__descr,
.client__autor {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: var(--text-color);
	max-width: 425px;
	margin: 22px 0px 0px 0px;
}
.client__autor {
	font-weight: 700;
	font-style: italic;
	margin: 34px 0px 0px 0px;
}
.client__item-box {
	margin: 19px 0px 0px 0px;
	display: flex;
	flex-wrap: wrap;
}
.clients__item-img {
	width: 160px;
	height: 101px;
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--gray-bg);
	box-shadow: inset 0px 0px 25px 0px var(--gray-bg);
}
/* ================== /client ================ */
/* ================== download ================ */
.download {
	min-height: 140px;
	background-color: var(--blue-light);
	border: 1px solid var(--blue-color-lite);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 35px;
	margin: 41px 0px 0px 0px;
}
.download__descr {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: var(--text-color);
	max-width: 607px;
}
.download__btn {
	padding: 22px 20px 22px 67px;
	background-color: var(--blue-color-superlite);
	background-image: linear-gradient(0deg, var(--blue-color) 0%, #60cede 10%, #72dae6 50%, #81e4ed 100%);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.09);
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--title-color);
	border: 1px solid var(--blue-color);
	border-radius: 8px;
	position: relative;
}
.download__btn::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 20px;
	width: 28px;
	height: 26px;
	background: url("../icons/download.svg") no-repeat;
}
/* ================== /download ================ */
