* {
	box-sizing: border-box;
}
body {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	color: var(--text-color);
}
.container {
	max-width: 1000px;
	margin: 0 auto;
}
.header {
	background-color: #e8ebf1;
	padding: 38px 0 38px 0;
}
.header__wrapper,
.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	font-size: 50px;
	color: var(--blue-color);
}
.header__logo span {
	color: var(--title-color);
	font-weight: 900;
}
.menu__item + li {
	margin-left: 50px;
}
.menu__link {
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-weight: 700;
	color: var(--title-color);
}
.menu__link:hover {
	color: var(--blue-color);
}
.drop-down > a {
	position: relative;
	padding-left: 11px;
	padding-right: 26px;
	border: 5px solid transparent;
}
.drop-down > a::after {
	content: "";
	position: absolute;
	top: 6px;
	right: 14px;
	width: 8px;
	height: 1.5px;
	background-color: #000;
	transform: rotate(-45deg);
	transition: all 0.5s ease;
}
.drop-down > a:hover::after {
	transform: rotate(45deg);
}
.drop-down > a::before {
	content: "";
	position: absolute;
	top: 6px;
	right: 9px;
	width: 8px;
	height: 1.5px;
	background-color: #000;
	transform: rotate(45deg);
	transition: all 0.5s ease;
}
.drop-down > a:hover::before {
	transform: rotate(-45deg);
}
.menu__item.drop-down {
	position: relative;
	margin-left: 30px;
}
.drop-down:hover {
	background-color: #fff;
	border-top: 5px solid var(--blue-color);
	padding-top: 9px;
	padding-bottom: 13px;
}
.drop-down__list {
	position: absolute;
	top: 37px;
	padding: 6px;
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: all 0.5s ease;
	box-shadow: 0px 5px 0 0 var(--blue-color);
	border: solid 1px #e8ebf1;
	border-top: none;
	border-bottom: 5px solid var(--blue-color);
}
.drop-down:hover .drop-down__list {
	transform: scaleY(1);
	width: 200px;
	min-height: 200px;
	background-color: #fff;
}
.drop-down__item + li {
	border-top: 1px solid #e7e7e7;
}
.drop-down__item {
	padding: 12px 0;
}
.drop-down__link {
	font-family: Arial;
	font-size: 13px;
	font-weight: 700;
	color: var(--title-color);
}
.drop-down__link:hover {
	color: var(--blue-color);
}
