:root {
	--text-color: #363636;
}
:root {
	--title-color: #000;
}
:root {
	--blue-color: #2aacc8;
}
:root {
	--blue-color-lite: #81e4ed;
}
:root {
	--white: #ffffff;
}
:root {
	--gray-bg: #e8ebf1;
}
:root {
	--border: #dfe1e5;
}
